footer {
  /* background-color: #222690; */
  background-color: #24253a91;
  clear: both;
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
  height: 400px;
}
footer p {
  margin-top: 8px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
