header {
  background-color: #89b758;
  color: white;
  height: 85px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.logoHeaderImage {
  /* background-color: white; */
  width: 65px;
  margin-left: 30px;
}
.headerLinkInFormPage {
  margin-top: 15px;
}
.headerLogoLink {
  text-decoration: none;
  color: white;
}

header nav ul li {
  display: inline-flex;
  margin: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}
header nav ul {
  margin-top: 15px;
  float: right;
  display: inline-flex;
  /* clear: both; */
}

header h1 {
  display: inline-flex;
  margin: 30px;
  font-size: 30px;
}
