body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header1 {
  font-size: 40px;
  color: white;
}

.par-tut {
  font-size: larger;
  font-weight: bold;
  text-align: justify;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 7px;
  margin-right: 10px ;
  background-color: rgba(0, 0, 0, 0.473);
  color: white;
}

.imgtut {
  margin-left: 27%;
  width: 600px;
  height: 500px;
  border: solid 2px rgb(167, 152, 152);
  display: block;
  background: transparent;
  padding: 8px;
  box-shadow: 10px 10px 10px black;
}

h1 {
  text-align: center;
}
table {
 margin-left: 40px;
}
table, th {
  border: solid 2px black;
  color: white;
  background-color: rgba(0, 0, 0, 0.733);
}

td {
  border: solid 1px black;
}

.header-2 {
  text-align: center;
}

.header-2 {
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
}

.service-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
  perspective: 2000px;
  -webkit-perspective: 2000px;
  width: 1200px;
  height: 500px;
  margin-left: 80px;
}

.service-icon {
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  transition: all .5s ease;
}

.service-content {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 2px;
  text-align:center;
  transition: all .2s ease;
  color: black;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform: translateY(110px) rotateX(-90deg);
  -moz-transform: translateY(110px) rotateX(-90deg);
  -ms-transform: translateY(110px) rotateX(-90deg);
  -o-transform: translateY(110px) rotateX(-90deg);
  transform: translateY(110px) rotateX(-90deg);
  background-color: rgba(0, 0, 0, 0.712);
}

.service-box .service-icon .front-content {
  position: relative;
  top: 150px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: black;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* kas */

.service-box .service-icon .front-content i {
  font-size: 28px;
  color: rgba(0, 0, 0, 0);
  font-weight: normal;
}

.service-box .service-content p {
  font-size: 20px;
  color: #ddd9d9;
  margin: 0;

}

.yellow {
  background-image: url('../imgs/plates.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  place-items: center;
}

/* To make flip  */

.service-box:hover .service-icon {
  opacity: 0;
  -webkit-transform: translateY(-110px) rotateX(90deg);
  -moz-transform: translateY(-110px) rotateX(90deg);
  -ms-transform: translateY(-110px) rotateX(90deg);
  -o-transform: translateY(-110px) rotateX(90deg);
  transform: translateY(-110px) rotateX(90deg);
}

/* To Show the result flip */

.service-box:hover .service-content {
  opacity: 1;
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}
.container{
  display: block;
  /* background-color: darkred; */
  margin-left: 10p;
}
