@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#DevImgSection {
  margin: 0 auto;
  margin-top: 30px;
  width: 75%;
}

.container {
  display: block;
  float: left;
  margin: 13px;
  position: relative;
  height: 400px;
  width: 300px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-out;
}

.container:hover {
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.container .image {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  transition: transform 0.3s ease-out;
}

.container:hover .image {
  transform: translateY(-100px);
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-out;
}

.container:hover .image img {
  opacity: 0.7;
}

.container:hover .image {
  transform: translateY(-100px);
}

.container ul {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  list-style: none;
}

ul li {
  margin: 0 5px;
  text-align: center;
}

.linksA {
  display: block;
  height: 50px;
  width: 50px;
  color: #000;
  line-height: 50px;
  font-size: 20px;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(200px);
  background: rgb(255, 255, 255);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.container:hover > ul > li > a {
  opacity: 1;
  transform: translateY(0);
}

.container:hover > ul > li:nth-child(2) a {
  transition-delay: 0.1s;
}

.container:hover > ul > li:nth-child(3) a {
  transition-delay: 0.2s;
}

.container:hover > ul > li:nth-child(4) a {
  transition-delay: 0.3s;
}

.container:hover > ul > li:nth-child(5) a {
  transition-delay: 0.4s;
}

.container .content {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}

.info {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  color: #000;
  line-height: 26px;
}

.info h2 {
  font-size: 27px;
  margin: 3px 0;
}

.info span {
  color: #1a1a1a;
}

#aboutUs-info {
  margin-left: 20px;
  margin-top: 20px;
  text-align: left;
}

.aboutustitle {
  font-size: 30px;
  text-align: left;
  font-weight: bold;
}

.aboutusinfo {
  font-size: 25px;
}

#new {
  text-align: center;
}

.nam {
  /* font-family: "Staatliches", cursive; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  text-align: center;
  display: inline-block;
  list-style: none;
  position: relative;
  border: solid 12px #fff;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px 0px rgb(40, 22, 197);
  transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  top: 50px;
  border-radius: 8px;
}

.nam:hover {
  top: 0px;
  opacity: 0.5;
}

.par {
  margin: -15px 0 0 0;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.light {
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  width: 700px;
  height: 700px;
  background: #fff;
  filter: blur(100px);
  opacity: 0.3;
  pointer-events: none;
}
#imageLogoBottom {
  height: 180px;
}
#hrInFooter {
  color: white;
}
#slideImagesDiv {
  margin-bottom: 90px;
}
#titleMainPage {
  display: inline;
  position: absolute;
  font-size: 60px;
  left: 40%;
  margin-top: 60px;
  color: rgb(255, 255, 255);
}
#Bod {
  background-color: #89b758;
}
/* #repeatedImg {
  position: relative;
  width: 900px;
  height: 15px;
} */
/* #hrLineleft {
  background-image: url("imgs/hr-img.png");
  background-repeat: repeat;
  margin-top: 20px;
  float: left;
  width: 30%;

*/
#hrLineRight {
  /* background-image: url("imgs/hr-img.png"); */
  /* background-repeat: repeat; */
  position: absolute;
  right: 0;
  width: 42%;
  margin-top: -80px;
}
#hrLineleft {
  position: absolute;
  left: 0;
  width: 42%;
  margin-top: -80px;
}
#Links {
  display: block;
  padding: 5px;
  text-align: center;
}
#Links a {
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  color:white;
  font-size: larger;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.7;
}

