body {

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

p {
  font-size: larger;
  font-weight: bold;
  text-align: justify;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
img {
  margin-left: 30%;
  width: 600px;
  height: 500px;
}
h1 {
  text-align: center;
}
table,
th {
  border: solid 2px black;
}
td {
  border: solid 1px black;

    margin:0px;
    padding: 0px;
    box-sizing: border-box;

}
