 body {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: cornsilk;
 }

 .header1 {
   color: #89b758;
   text-align: center;
   font-size: 3em;
   transition: 0.2s;
   font-family: Arial, Helvetica, sans-serif;
 }

 .par-tut {
   font-size: larger;
   font-weight: bold;
   text-align: justify;
   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
   margin-left: 7px;
   margin-right: 10px;
   color: rgb(0, 0, 0);
 }

 .imgtut {
   margin-left: 18%;
   width: 600px;
   height: 500px;
   border: solid 2px rgb(167, 152, 152);
   display: block;
   background: transparent;
   padding: 8px;
   box-shadow: 10px 10px 10px black;
 }

 #table-tut caption {
   font-weight: bolder;
   font-size: 25px;
   margin-bottom: 3px;
 }

 #table-tut {
   margin-left: 40px;
 }

 #table-tut, th {
   border: solid 2px black;
   color: rgb(0, 0, 0);
 }

 td {
   border: solid 1px black;
   font-size: 16px;
   text-align: center;
   font-weight: bold;
 }

 .header-2 {
   font-size: 35px;
   text-align: left;
   text-transform: capitalize;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 }

 .service-box {
   position: relative;
   overflow: hidden;
   margin-bottom: 5px;
   perspective: 2000px;
   -webkit-perspective: 2000px;
   width: 1200px;
   height: 500px;
   margin-left: 80px;
 }

 .service-icon {
   width: 100%;
   height: 100%;
   padding: 20px;
   text-align: center;
   transition: all .5s ease;
 }

 .service-content {
   position: absolute;
   top: 0;
   right: 0;
   z-index: 0;
   opacity: 0;
   width: 100%;
   height: 100%;
   padding: 2px;
   text-align: center;
   transition: all .2s ease;
   color: black;
   backface-visibility: hidden;
   transform-style: preserve-3d;
   -webkit-transform: translateY(110px) rotateX(-90deg);
   -moz-transform: translateY(110px) rotateX(-90deg);
   -ms-transform: translateY(110px) rotateX(-90deg);
   -o-transform: translateY(110px) rotateX(-90deg);
   transform: translateY(110px) rotateX(-90deg);
 }

 .service-content img {
   width: 100%;
   height: 100%;
 }

 .service-box .service-icon .front-content {
   position: relative;
   top: 150px;
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
   transform: translateY(-50%);
   color: black;
   font-weight: bolder;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 /* kas */

 .service-box .service-icon .front-content i {
   font-size: 28px;
   color: rgba(0, 0, 0, 0);
   font-weight: normal;
 }

 .service-box .service-content p {
   font-size: 20px;
   color: #ddd9d9;
   margin: 0;
 }

 .yellow {
   background-image: url('../imgs/coverpvs.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
   place-items: center;
 }

 /* To make flip  */

 .service-box:hover .service-icon {
   opacity: 0;
   -webkit-transform: translateY(-110px) rotateX(90deg);
   -moz-transform: translateY(-110px) rotateX(90deg);
   -ms-transform: translateY(-110px) rotateX(90deg);
   -o-transform: translateY(-110px) rotateX(90deg);
   transform: translateY(-110px) rotateX(90deg);
 }

 /* To Show the result flip */

 .service-box:hover .service-content {
   opacity: 1;
   -webkit-transform: rotateX(0);
   -moz-transform: rotateX(0);
   -ms-transform: rotateX(0);
   -o-transform: rotateX(0);
   transform: rotateX(0);
 }

 .container {
   display: block;
   /* background-color: darkred; */
   margin-left: -10px;
 }

 .body-tut {
   padding: 20px;
   font-family: Arial;
 }

 /* Center website */

 .main {
   max-width: 1000px;
   margin: auto;
 }

 .row {
   margin: 10px -16px;
 }

 /* Add padding BETWEEN each column */

 .row, .row>.column {
   padding: 8px;
   width: 100%;
   border-radius: 5px;
 }

 /* Create four equal columns that floats next to each other */

 .column {
   float: left;
   width: 25%;
 }

 /* Clear floats after rows */

 .row:after {
   content: "";
   display: table;
   clear: both;
 }

 /* Content */

 .content {
   background-color: white;
   padding: 10px;
   border: 2px solid black;
 }

 /* Responsive layout - makes a two column-layout instead of four columns */

 @media screen and (max-width: 900px) {
   .column {
     width: 50%;
   }
 }

 /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

 @media screen and (max-width: 600px) {
   .column {
     width: 100%;
   }
 }

 #imageLogoBottom {
   height: 180px;
 }

 #hrLineRight {
   position: absolute;
   right: 0;
   width: 42%;
   margin-top: -80px;
 }

 #hrLineleft {
   position: absolute;
   left: 0;
   width: 42%;
   margin-top: -80px;
 }
 #Links {
  display: block;
  padding: 5px;
  text-align: center;
}
#Links a {
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  color:white;
  font-size: larger;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.7;
}